<div class="container" data-controller="watchlist">
  <h1 class="profile-header">"<%= @key_word %>" search result</h1>
  <div class="nft-container">
    <div class="wrapper-nfts">
      <% @collections.each do |collection| %>
        <div class="card-nft-search" >
          <div class="wrapper-nft-search">
            <div class="nft-seach-image" data-bs-toggle="modal" data-bs-target="#s<%= collection.id.to_s %>">
              <img src=<%= collection.image %> alt="" class="nft-search-image">
               <div class="nft-collection-container">
                  <h2 class="nft-name"><%= collection.name %></h2>

                  <% if current_user %>
                    <a class="btn fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection.id.to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                  <% else %>
                    <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                  <% end %>

                </div>
              <p class="nft-description"><%= collection.description %></p>
              <div class="nft-search-data">
                <p>Floor price: <%= collection.floor_price_in_sol.round(2) %> SOL</p>

                <p>Listings: <%= @nft_listings %></p>
              </div>
              <p class="nft-search-data">Volume: <%= collection.volume_in_sol.round(0) %></p>
            </div>
            <button type="button" class="btn collection-btn" data-bs-toggle="modal" data-bs-target="#s<%= collection.id.to_s %>">
              See more
            </button>
          </div>
        </div>

         <!-- MODAL: Collection: More information about a collection-->

          <div class="modal fade" id="s<%= collection.id.to_s %>" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content modal-drops">
                <div class="modal-nft-wrapper drop-header">
                  <%=image_tag collection.image, class: "modal-nft-image" %>
                  <div>
                    <div class="nft-collection-container">
                      <h2 class="nft-name"><%= collection.name %></h2>
                        <% if current_user %>
                          <a class="btn fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection.id.to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                        <% else %>
                          <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                        <% end %>
                    </div>
                    <p class="nft-collection modal-desription"><%= collection[:description] %></p>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong>Floor price: </strong> <%= collection.floor_price_in_sol.round(2) %> SOL</p>
                      <p class="nft-data"><strong>Supply: </strong> <%= @nft_supply %></p>
                    </div>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong>Volume: </strong> <%= collection.volume_in_sol.round(0)%></p>
                      <p class="nft-data"><strong>Owners: </strong> <%= @nft_owners%></p>
                    </div>
                  </div>
                </div>
                <div class="collection-social-container">
                  <div>
                    <a href="<%= collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord collection-social"></a>
                    <a href="<%= collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter collection-social"></a>
                  </div>
                  <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                 </div>
              </div>
            </div>
          </div>

          <!-- Modal ends -->
      <% end %>
    </div>
  </div>
</div>
