<div class="container">
  <h1 class="profile-header">"<%= @key_word %>" search result</h1>
  <div class="nft-container">
    <div class="wrapper-nfts">
      <% @collections.each do |collection| %>
        <div class="card-nft-search">
          <div class="wrapper-nft-search">
            <div class="nft-seach-image">
              <img src=<%= collection.image %> alt="" class="nft-search-image">
              <h2 class="nft-name"><%= collection.name %></h2>
              <p class="nft-description"><%= collection.description %></p>
              <div class="nft-data">
                <p>Floor price: <%= collection.floor_price %> SOL</p>
                <p>Volume: <%= collection.volume %></p>
                <p>Listings: <%= collection.listings %></p>
              </div>
            </div>
            <button type="button" class="btn btn-green-link" data-bs-toggle="modal" data-bs-target="#s<%= @collections[0].id.to_s %>">
              See more
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
