<!-- Home page logged in-->
<% if current_user && current_page?('/') %>
 <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
        <div class="d-flex justify-content-center align-items-center">
            <%= link_to "SGMI", root_path, class:"logo", style:"text-decoration: none" %>
            </div>
            <%= link_to "About us", about_path, class:"text", style:"text-decoration: none" %>
            <%= link_to "Introduction", introduction_path, class:"text", style:"text-decoration: none" %>
            <%= link_to "FAQ", "#", class:"text", style:"text-decoration: none" %>
            <div>
              <% if current_user.wallets.empty?%>
              <%= link_to "My wallet", new_wallet_path, class:"session"%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"session"%>
              <%else%>
              <%= link_to "My wallet", profile_path, class:"session"%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"session"%>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </header>


<!-- Home page not logged in-->
<% elsif current_page?('/') %>
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
            <div class="d-flex justify-content-center align-items-center">
            <%= link_to "SGMI", root_path, class:"logo", style:"text-decoration: none" %>
            </div>
            <%= link_to "About Us", about_path, class:"text", style:"text-decoration: none" %>
            <%= link_to "Introduction", "#", class:"text", style:"text-decoration: none" %>
            <%= link_to "FAQ", "#", class:"text", style:"text-decoration: none" %>
            <%= link_to "Log in", new_user_session_path, class:"connect"%>
        </div>
      </div>
    </div>
  </header>

<!-- Profile page or passing in wallet key -->
<% elsif current_page?('/profile')  || (current_page?('/wallets/new')) %>
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
            <div class="d-flex justify-content-center align-items-center">
            <%= link_to "SGMI", root_path, class:"logo", style:"text-decoration: none" %>
            </div>
            <div class="search-bar">
              <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                <div class="search-bar-form">
                  <%= f.input :keyword, label: false, input_html:  { style: 'width: 470px' } %>
                  <button type="submit" class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              <% end %>
            </div>
            <div>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"session"%>
            </div>
        </div>
      </div>
    </div>
  </header>


<!-- Logged in but not on home page or profile page -->
<% elsif current_user && (!current_page?('/') && !current_page?('/profile')) %>
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
            <div class="d-flex justify-content-center align-items-center">
            <%= link_to "SGMI", root_path, class:"logo", style:"text-decoration: none" %>
            </div>
            <div class="search-bar">
              <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                <div class="search-bar-form">
                  <%= f.input :keyword, label: false, input_html: { style: 'width: 470px' }  %>
                  <button type="submit" class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              <% end %>
            </div>
            <div>
              <%= link_to "My wallet", profile_path, class:"session"%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"session"%>
            </div>
        </div>
      </div>
    </div>
  </header>

<!-- Not logged in and not on home page -->
<% elsif !current_page?('/') %>
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
            <div class="d-flex justify-content-center align-items-center">
            <%= link_to "SGMI", root_path, class:"logo", style:"text-decoration: none" %>
            </div>
            <div class="search-bar">
              <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                <div class="search-bar-form">
                  <%= f.input :keyword, label: false, input_html: { style: 'width: 470px' }  %>
                  <button type="submit" class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              <% end %>
            </div>
              <%= link_to "Log in", profile_path, class:"connect"%>
        </div>
      </div>
    </div>
  </header>

<% end %>
