<div class="banner">
  <h1 class="banner-header">Solana is the new black</h1>
  <div class="search-bar">
    <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <div class="search-bar-form">
        <%= f.input :keyword, label: false, :input_html => { :style=> 'width: 470px' }  %>
        <button type="submit" class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="wrapper">
    <!-- Popular collections-->
    <div class="dashboard-container">
      <h2 class="dashboard-header">Popular collections</h2>
      <div class="dashboard-wrapper">
        <div class="dashboard-wrapper-headers">
          <p class="p1">Collection</p>
          <p class="p2">Supply</p>
          <p class="p3">Listings</p>
          <p class="p4">Floor price</p>
          <p class="p5">Volume</p>
        </div>
        <!-- This is the iteration for most popular collections-->
        <div class="dashboard">
          <% @popular_collections.each do |collection| %>
            <div class="dashboard-item">
            <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#popular-collections-<%= collection.id %>">
              <div class="dashboard-item-image-wrapper">
                <%=image_tag "#{collection.image}", class:"dashboard-item-image"%>
                <p class="dashboard-item-image-p"><%=collection.name%></p>
              </div>
              <p class="item-p item-p1"><%= @nft_supply %></p>
              <p class="item-p item-p2"><%= collection.listings %></p>
              <p class="item-p item-p3"><%= collection.floor_price_in_sol.round(2) %> SOL</p>
              <p class="item-p item-p4"><%= collection.volume_in_sol.round(0) %> SOL</p>
              </div>
              <div class="eye-button">

                <% if current_user %>
                    <a class="fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection.id.to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                  <% else %>
                    <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                  <% end %>
              </div>
            </div>
            <!-- MODAL: Popular collections: More information about a specific popular collection starts here-->
            <div class="modal fade" id="popular-collections-<%= collection.id %>" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content modal-drops">
                <div class="modal-nft-wrapper drop-header">
                  <%=image_tag collection.image, class: "modal-nft-image" %>
                  <div>
                    <div class="nft-collection-container">
                      <h2 class="nft-name"><%= collection.name %></h2>
                        <% if current_user %>
                          <a class="fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection.id.to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                        <% else %>
                          <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                        <% end %>
                    </div>
                    <p class="nft-collection modal-desription"><%= collection[:description] %></p>
                    <div class="modal-nft-data">


                      <p class="nft-data"><strong class="headers-black">Floor price: </strong> 	&nbsp <%= collection.floor_price_in_sol.round(2) %> SOL</p>
                      <p class="nft-data"><strong class="headers-black">Supply: </strong> &nbsp <%= @nft_supply %></p>
                    </div>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong class="headers-black">Volume: </strong> 	&nbsp <%= collection.volume_in_sol.round(0)%> SOL</p>
                      <p class="nft-data"><strong class="headers-black">Owners: </strong> 	&nbsp <%= @nft_owners%></p>


                    </div>
                  </div>
                </div>
                <div class="collection-social-container">
                  <div>
                    <a href="<%= collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord collection-social"></a>
                    <a href="<%= collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter collection-social"></a>
                  </div>
                  <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                 </div>
              </div>
            </div>
          </div>
            <!-- MODAL: Popular collections: More information about a specific popular collection ends here-->
          <% end %>
        </div>
      </div>
    </div>


    <!-- Upcoming drops-->
    <div class="card-container">
      <h2 class="card-header-big">Upcoming drops</h2>
      <div class="wrapper-cards-btn drop">
        <% @upcoming_collections.first(3).each do |collection| %>
          <div class="card-xs-small" data-bs-toggle="modal" data-bs-target="#upcoming-drops-<%= collection[:id] %>">
          <%= image_tag "#{collection[:image]}", class:"card-xs-small-image" %>
            <div class="card-xs-small-content">
              <div class="card-xs-small-content-headers">
                <%= collection[:name] %>
              </div>
               <div class="card-xs-small-content-info">
                <div>
                  <p class="card-text-thin"><strong class="headers-black"> Launch date:</strong>  </p>
                  <p class="card-text-thin"><strong class="headers-black"> Mint price:</strong> <%= collection[:floor_price] * 0.000000001 %> SOL</p>
                </div>
              </div>
            </div>
          </div>
          <!-- MODAL upcoming drops -->
          <div class="modal fade" id="upcoming-drops-<%= collection[:id] %>" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content modal-drops">
                <div class="modal-nft-wrapper drop-header">
                  <%=image_tag "#{collection[:image]}", class: "modal-nft-image" %>
                    <div>
                    <div class="nft-collection-container">
                      <h2 class="nft-name"><%= collection[:name] %></h2>
                      <% if current_user %>
                        <a class="btn fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection[:id].to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                      <% else %>
                          <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                      <% end %>
                    </div>
                    <p class="nft-collection modal-desription"><%= collection[:description] %></p>
                    <div class="modal-nft-data">


                        <p class="nft-data"><strong class="headers-black">Mint Price: </strong> 	&nbsp <%= collection[:floor_price] * 0.000000001 %> SOL</p>
                        <p class="nft-data"><strong class="headers-black">Supply: </strong> 	&nbsp <%= collection[:supply]%></p>
    

                    </div>
                    <div class="modal-nft-data">
                        <p class="nft-data"><strong class="headers-black">Launchdate: </strong> 	&nbsp <%= collection[:launchdate]%></p>

                    </div>
                    </div>
                </div>
                     <div class="collection-social-container">
                     <div>
                        <a href="<%= collection[:discord]%>" src="Discord" target="_blank" class="fa-brands fa-discord collection-social"></a>
                        <a href="<%= collection[:twitter]%>" src="Twitter" target="_blank" class="fa-brands fa-twitter collection-social"></a>
                      </div>
                      <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                      </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Modal trigger button -->
        <button type="button" class="btn-big-white-green-border four-cards" data-bs-toggle="modal" data-bs-target="#upcoming-drops">
          See more
        </button>
      </div>
    </div>
      <!-- MODAL: Upcoming Drops see more START-->
      <div class="modal fade" id="upcoming-drops" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content-drop">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upcoming drops</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-drop">
              <!-- Iteration -->
              <div class="wrapper-drops">
                <% @upcoming_collections.each do |collection| %>
                <div class="drop-container-modal">
                  <img src=<%= collection[:image] %> class="drop-image">
                  <div class="card-xs-small-content-modal">
                    <div class="card-xs-small-content-headers">
                      <%= collection[:name] %>
                    </div>
                    <div class="card-xs-small-content-info">
                  <div>
                  <p class="card-text-thin"><strong class="headers-black"> Launch date:</strong>  </p>
                  <p class="card-text-thin"><strong class="headers-black"> Mint price:</strong> <%= collection[:floor_price] * 0.000000001 %> SOL</p>
                  <p class="card-text-thin"><strong class="headers-black"> Supply:</strong> <%= collection[:supply] %> </p>

                </div>
              </div>
            </div>
               <div class="modal-social-container">
                    <a href="<%= collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord modal-social"></a>
                    <a href="<%= collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter modal-social"></a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-green-link" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for upcoming drops ends -->
      <!-- Most popular today -->
      <div class="card-container2">
        <h2 class="card-header-big">Most popular today</h2>
        <div class="wrapper-cards-btn" data-bs-toggle="modal">
          <% @popular_collections_today.first(2).each do |collection| %>
            <div class="big-image" data-bs-toggle="modal" data-bs-target="#most-popular-today-0<%= collection.id %>">
              <%= image_tag "#{collection.image}", class: "card-lg-image"%>
              <div class="big-shadow"></div>
              <h2 class="h2-highest" > <%= collection.name %> </h2>
              <p class="p-highest">Volume: <%= collection.volume_in_sol.round(0) %> SOL</p>
            </div>
          <div class="modal fade" id="most-popular-today-0<%= collection.id %>" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content modal-drops">
                <div class="modal-nft-wrapper drop-header">
                  <%=image_tag collection.image, class: "modal-nft-image" %>
                  <div>
                    <div class="nft-collection-container">
                      <h2 class="nft-name"><%= collection.name %></h2>
                        <% if current_user %>
                          <a class="btn fa-solid fa-bookmark" style="color: #30E8BF" rel="nofollow" data-method="post" href="/collections/<%=collection.id.to_s %>/watchlist_items?stop_redirect=true" data-remote=true></a>
                        <% else %>
                          <p class="fa-solid fa-bookmark" style="color: #30E8BF" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="You need to log in to save this collection to your watchlist"></p>
                        <% end %>
                    </div>
                    <p class="nft-collection modal-desription"><%= collection[:description] %></p>
                    <div class="modal-nft-data">


                      <p class="nft-data"><strong class="headers-black">Floor price: </strong> 	&nbsp <%= collection.floor_price_in_sol.round(2) %> SOL</p>
                      <p class="nft-data"><strong class="headers-black">Supply: </strong>  	&nbsp <%= @nft_supply %></p>
                    </div>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong class="headers-black">Volume: </strong> &nbsp  <%= collection.volume_in_sol.round(0)%> SOL</p>
                      <p class="nft-data"><strong class="headers-black">Owners: </strong> &nbsp  <%= @nft_owners%></p>


                    </div>
                  </div>
                </div>
                <div class="collection-social-container">
                  <div>
                    <a href="<%= collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord collection-social"></a>
                    <a href="<%= collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter collection-social"></a>
                  </div>
                  <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                 </div>
              </div>
            </div>
          </div>
          <!-- Modal ends -->
          <!-- MODAL: Popular collections: More information about a specific popular collection ends here-->
          <% end %>
          <button type="button" class="btn btn-green-link" data-bs-toggle="modal" data-bs-target="#most-popular-today">
            See more </button>
        </div>
      </div>
      <!-- MODAL: Most Popular Today see more starts here -->
        <div class="modal fade" id="most-popular-today" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content-drop">
            <div class="modal-header">
              <h5 class="modal-titles" id="exampleModalLabel">Most popular today</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-drop">
              <!-- Iteration -->
              <div class="wrapper-drops">
                <% @popular_collections_today.each do |collection| %>
                        <div class="drop-container-modal">
                  <img src=<%= collection[:image] %> class="drop-image">
                  <div class="card-xs-small-content-modal">
                    <div class="card-xs-small-content-headers">
                      <%= collection[:name] %>
                    </div>
                    <div class="card-xs-small-content-info">
                  <div>
                  <p class="card-text-thin"><strong class="headers-black"> Floor price:</strong> <%= (collection[:floor_price] * 0.000000001).round(2) %> SOL</p>
                  <p class="card-text-thin"><strong class="headers-black"> Supply:</strong> <%= collection[:supply] %> </p>

                </div>
              </div>
            </div>
               <div class="modal-social-container">
                    <a href="<%= collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord modal-social"></a>
                    <a href="<%= collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter modal-social"></a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="">
              <button type="button" class="btn btn-green-link" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
