<div class="banner">
  <h1 class="banner-header">Solana is the new black</h1>
  <div class="search-bar">
    <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <div class="search-bar-form">
        <%= f.input :keyword, label: false, :input_html => { :style => 'width: 470px' }  %>
        <button type="submit" class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-cols-3">
    <!-- Popular collections-->
    <%= render "home/popular_collections" %>

    <!-- Upcoming drops-->
    <%= render "home/upcoming_drops" %>

    <!-- Most popular today -->
    <%= render "home/popular_today" %>
  </div>



  </div>
