<div class="banner">
  <h1 class="banner-header">Solana is the new black</h1>
  <div class="search-bar">
    <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <div class="search-bar-form">
        <%= f.input :keyword, label: false, :input_html => { :style=> 'width: 470px' }  %>
        <%= f.submit "Search", class: "btn-search" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="wrapper">

<!-- Popular collections-->
    <div class="dashboard-container">
      <h2 class="dashboard-header">Popular collections</h2>
      <div class="dashboard-wrapper">
        <div class="dashboard-wrapper-headers">
          <p class="p1">Collection</p>
          <p class="p2">Supply</p>
          <p class="p3">Listings</p>
          <p class="p4">Floor price</p>
          <p class="p5">Volume</p>
        </div>
        <!-- This is the iteration for most popular collections-->
        <div class="dashboard">
          <% @popular_collections[0..4].each do |collection| %>
            <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#popular-collections-<%= collection.id %>">
              <div class="dashboard-item-image-wrapper">
                <%=image_tag "#{collection.image}", class:"dashboard-item-image"%>
                <p class="dashboard-item-image-p"><%=collection.name%></p>
              </div>
              <p class="item-p item-p1"><%= collection.supply %></p>
              <p class="item-p item-p2"><%= collection.listings %></p>
              <p class="item-p item-p3"><%= collection.floor_price %> SOL</p>
              <p class="item-p item-p4"><%= collection.volume %> SOL</p>
              <%# <%=link_to collection.website do%> <!-- The eye -->
                <i class="fa-solid fa-eye" style="color: grey" ></i>
              <%# <% end %>
          </div>

          <!-- MODAL: Popular collections: More information about a specific popular collection starts here-->

          <div class="modal fade" id="popular-collections-<%= collection.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="popular-collections"><%= collection.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-8">
                       <%=image_tag collection.image, class:"popular-collections-image" %>
                      </div>
                      <div class="col-md-4 ">
                        <p class="collection-data">Supply: <%= collection.supply %></p>
                        <p class="collection-data">Listings: <%= collection.listings %>
                        <p class="collection-data">Floor price: <%= collection.floor_price %>
                        <p class="collection-data">Volume: <%= collection.volume %>
                      </div>
                    </div>
                  </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-green-link" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
          </div>
          <!-- MODAL: Popular collections: More information about a specific popular collection ends here-->
          <% end %>
        </div>
      </div>
    </div>









<!-- Upcoming drops-->
    <div class="card-container">
      <h2 class="card-header-big">Upcoming drops</h2>
      <div class="wrapper-cards-btn drop">
        <div class="card-xs-small" data-bs-toggle="modal" data-bs-target="#upcoming-drops"> <!-- Click on card/everywhere -->
            <%=image_tag "#{@upcoming_collections[0].image}", class:"card-xs-small-image" %>
          <div class="card-xs-small-content">
            <div class="content-info card-xs-small-content-info">
              <p class="content-info collection-name"><%= @upcoming_collections[0].name %></p>
              <p class="content-info card-text"><small class="text-muted">Supply: <%=@upcoming_collections[0].supply%></small></p>
            </div>
          </div>
        </div>

        <div class="card-xs-small" data-bs-target="#upcoming-drops">
          <%=image_tag "#{@upcoming_collections[1].image}", class:"card-xs-small-image" %>
          <div class="card-xs-small-content">
            <div class="content-info card-xs-small-content-info">
              <p class="content-info collection-name"><%= @upcoming_collections[1].name %></p>
              <p class="content-info card-text"><small class="text-muted">Supply: <%=@upcoming_collections[1].supply%></small></p>
            </div>
          </div>
        </div>

        <div class="card-xs-small" data-bs-target="#upcoming-drops">
          <%=image_tag "#{@upcoming_collections[2].image}", class:"card-xs-small-image" %>
          <div class="card-xs-small-content">
            <div class="content-info card-xs-small-content-info">
              <p class="content-info collection-name"><%= @upcoming_collections[2].name %></p>
              <p class="content-info card-text"><small class="text-muted">Supply: <%=@upcoming_collections[2].supply%></small></p>
            </div>
          </div>
        </div>

        <div class="card-xs-small" data-bs-target="#upcoming-drops">
          <%=image_tag "#{@upcoming_collections[3].image}", class:"card-xs-small-image" %>
           <div class="card-xs-small-content">
            <div class="content-info card-xs-small-content-info">
              <p class="content-info collection-name"><%= @upcoming_collections[3].name %></p>
              <p class="content-info card-text"><small class="text-muted">Supply: <%=@upcoming_collections[2].supply%></small></p>
            </div>
          </div>

        </div>
          <!-- Modal trigger button -->
          <button type="button" class="btn btn-green-link" data-bs-toggle="modal" data-bs-target="#upcoming-drops">
          See more
          </button>
        </div>
    </div>



<!-- Modal for upcoming drops starts see more-->
<div class="modal fade" id="upcoming-drops" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upcoming drops</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Iteration -->
        <div class="row">
          <% @upcoming_collections.each do |collection| %>
            <div class="col-md-4 p-1">
                <img src=<%= collection.image %> class="img-fluid rounded-start">
            </div>

            <div class="col-md-8">
              <p>Name: <%= collection.name %></p>
              <p>Supply: <%= collection.supply %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-green-link" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for upcoming drops ends -->



<!-- Most popular today -->
    <div class="card-container2">
      <h2 class="card-header-big">Most popular today</h2>
      <div class="wrapper-cards-btn" data-bs-toggle="modal" data-bs-target="#most-popular-today">
        <div class="big-image" >
          <%= image_tag "#{@performing_collections[0].image}", class: "card-lg-image"%>
          <h2 class="h2-highest" > <%= @performing_collections[0].name %> </h2>
          <p class="p-highest">Supply: <%= @performing_collections[0].supply %></p>
        </div>
        <div class="big-image">
          <%= image_tag "#{@performing_collections[1].image}", class: "card-lg-image"%>
          <h2 class="h2-highest"> <%= @performing_collections[1].name %> </h2>
          <p class="p-highest">Supply: <%= @performing_collections[1].supply %></p>
        </div>
        <button type="button" class="btn btn-green-link" data-bs-toggle="modal" data-bs-target="#most-popular-today">
 See more
</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for most popular today see more starts here -->
<div class="modal fade" id="most-popular-today" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Most populat today</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
              <% @performing_collections.each do |collection| %>
               <div class="col-md-4 p-1">
                  <img src=<%= collection.image  %> class="img-fluid rounded-start" >
              </div>
              <div class="col-md-8">
                <p>Name: <%= collection.name %></p>
                <p>Supply: <%= collection.supply %></p>
              </div>
              <% end %>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green-link" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal for most popular today ends here -->
