<div class="container">
  <div class="header-container">
    <h1 class="profile-header">My Wallet</h1>
  </div>
  <div class="my-wallet">
<!-- DASHBOARD-->
    <div class="dashboard-container">
      <div class="wrapper">
        <div class="container">
          <h2 class="dashboard-header">Your wallet performance</h2>
            <div class="d-flex justify-content-center mt-2">
            <div class="dashboard-speedometer">
              <%= render "shared/speedometer" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- BEST PERFOMING NFTs-->
    <div class="card-container">
      <h2 class="card-header-big">Your best performing NFTs</h2>
      <div class="wrapper-cards-btn">
        <% @best_performing_nfts.first(4).each do |nft| %>
          <div class="card-xs-small" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <%= image_tag nft.image, class:"card-xs-small-image" %>
            <div class="card-xs-small-content">
              <div class="card-xs-small-content-headers">
                <%= nft.name %>
              </div>
               <div class="card-xs-small-content-info">
                <div>
                  <p class="card-text-thin"><strong>Purchased price: <%= @nft_prices.sample %></strong> SOL </p>
                  <p class="card-text-thin"><strong>Floor price:</strong> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <button type="button" class="btn-big-white-green-border four-cards" data-bs-toggle="modal" data-bs-target="#best-performing">
          See more
        </button>
      </div>
    </div>

    <!-- MODAL: BEST PERFORMING NFTs: See more -->
    <div class="modal fade" id="best-performing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content modal-content-best">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Your best performing NFTs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-best">
            <% count = 1 %>
            <% @best_performing_nfts.each do |nft| %>
              <div class="modal-body-search">
                <p class="number"><%= count %>.</p>
                <div class="modal-collection-card">
                  <%= image_tag nft.image, class:"modal-collection-card-image" %>
                    <div class="modal-collection-card-content">
                      <div class="modal-collection-card-content-header">
                        <%= nft.name %>, <%= nft.collection.name %>
                      </div>
                      <div class="modal-collection-card-content-info">
                        <div>
                          <p class="card-text-thin"><strong>Purchased price: </strong> <%= @nft_prices.sample %> SOL </p>
                          <p class="card-text-thin"><strong>Floor price:</strong> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                        </div>
                    </div>
                  </div>
              </div>
             </div>
             <% count += 1%>
            <% end %>

            <button class="close-modal btn-best" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- HIGHEST FLOOR PRICE -->
    <div class="card-container2">
      <h2 class="card-header-big">Highest floor price</h2>
      <div class="wrapper-cards-btn">
        <% @highest_floor_price_nfts.each do |nft| %>
          <div class="big-image" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <img src="<%= nft.image %>" alt="" class="card-lg-image">
            <div class="big-shadow"></div>
            <h2 class="h2-highest"> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</h2>
            <p class="p-highest"> <%= nft.collection.name %> </p>
          </div>
        <% end %>
        <button type="button" class="btn btn-green-link highest-floor" data-bs-toggle="modal" data-bs-target="#highest-floor-price" >
          See more
        </button>
      </div>
    </div>

    <!-- MODAL: HIGHEST FLOOR PRICE: See more -->

        <div class="modal fade" id="highest-floor-price" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content modal-content-best">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Your best performing NFTs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-best">
            <% count = 1 %>
            <% @highest_floor_price_nfts.each do |nft| %>
              <div class="modal-body-search">
                <p class="number"><%= count %>.</p>
                <div class="modal-collection-card">
                  <%= image_tag nft.image, class:"modal-collection-card-image" %>
                    <div class="modal-collection-card-content">
                      <div class="modal-collection-card-content-header">
                        <%= nft.name %>, <%= nft.collection.name %>
                      </div>
                      <div class="modal-collection-card-content-info">
                        <div>
                          <p class="card-text-thin"><strong>Purchased price:</strong> <%= @nft_prices.sample %> SOL </p>
                          <p class="card-text-thin"><strong>Floor price:</strong> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                        </div>
                    </div>
                  </div>
              </div>
             </div>
             <% count += 1%>
            <% end %>

            <button class="close-modal btn-best" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>

<!-- WATCHLIST -->
  <div class="my-watchlist">
    <div class="watchlist-container">
      <h2 class="watchlist-header">My watchlist</h2>
      <%# <button type="button" class="btn-green-big btn-watchlist" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> %>
      <button type="button" class="btn-green-big btn-watchlist" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
        Add collections to your watchlist
      </button>
      <div class="watchlist-wrapper">
        <div class="watchlist-headers">
          <p>Collection</p>
          <p>Supply</p>
          <p>Floor price</p>
          <p>Volume</p>
          <p>Owners</p>
        </div>

        <div class="watchlist">
          <% @watchlist_items.each do |item| %>
            <div class="watchlist-item">
              <div class="watchlist-image-collection">
                <img src="<%= item.collection.image %>" alt="Collection image" class="watchlist-item-image">
                <p class="watchlist-p"><%= item.collection.name %></p>
              </div>
              <p class="watchlist-p supply-p"><%= item.collection.supply %></p>
              <p class="watchlist-p floor-p"><%= item.collection.floor_price_in_sol.round(2) %> SOL</p>
              <p class="watchlist-p volume-p"><%= item.collection.volume_in_sol.round(2) %></p>
              <%# <p class="watchlist-p owners-p"><%= item.collection.owners %>

              <%= link_to "Remove", watchlist_item_path(item), method: :delete, data: { confirm: "Are you sure you want to delete this collection?" }, class: "watchlist-p remove-p"%>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<!-- MY NFTs-->
  <div class="my-nfts">
    <div class="nft-container">
      <div class="wrapper-nfts">
        <% @nfts.each do |nft| %>
          <div class="card-nft" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <div class="wrapper-nft-info">
            <!-- Should be an if statement here later -->
              <div class="nft-image-container">
                <img src=<%= nft.image %> alt="" class="nft-image">
              </div>
              <h2 class="nft-name" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>"><%= nft.name %></h2>
              <h3 class="nft-collection"><%= nft.collection.name %></h3>
              <div class="nft-data">
                <p><strong>Floor price: </strong> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                <p><strong>Supply: </strong> <%= nft.collection.supply %></p>
              </div>
            </div>
             <!-- Modal trigger button -->
              <button type="button" class="btn btn-green-link nft-see-more" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
              See more
              </button>
          </div>

          <!-- MODAL: MY NFTs: More information about an NFT-->


              <div class="modal fade" id="s<%= nft.id.to_s %>" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content modal-drops">
                <div class="modal-nft-wrapper drop-header">
                  <%=image_tag nft.image, class: "modal-nft-image" %>
                  <div>
                    <div class="nft-collection-container">
                      <h2 class="nft-name"><%= nft.name %></h2>
                    </div>
                    <p class="nft-collection modal-desription"><%= nft.collection.description %></p>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong>Floor price: </strong> <%= nft.collection.floor_price %> SOL</p>
                      <p class="nft-data"><strong>Supply: </strong> <%= nft.collection.supply %></p>
                    </div>
                    <div class="modal-nft-data">
                      <p class="nft-data"><strong>Volume: </strong> <%= nft.collection.volume%></p>
                      <p class="nft-data"><strong>Owners: </strong> <%= nft.collection.owner%></p>
                    </div>
                  </div>
                </div>
                <div class="collection-social-container">
                  <div>
                    <a href="<%= nft.collection.discord%>" src="Discord" target="_blank" class="fa-brands fa-discord collection-social"></a>
                    <a href="<%= nft.collection.twitter%>" src="Twitter" target="_blank" class="fa-brands fa-twitter collection-social"></a>
                  </div>
                  <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                 </div>
              </div>
            </div>
          </div>
          <!-- Modal ends -->

        <% end %>
      </div>
    </div>
  </div>

</div>


<!-- MODAL WATCHLIST -->
<%= render 'modal' %>
