<div class="container">
  <h1 class="profile-header">My Wallet</h1>
  <div class="my-wallet">
    <div class="dashboard-container">
      <h2 class="dashboard-header">My wallet's performance</h2>
      <div class="dashboard-wrapper">
        <div class="sol-usd">
          <p>SOL/USD</p>
        </div>
        <div class="dashboard">

         <%= line_chart @nfts_chart.map { |nft|
          {name: nft.name, data: nft.floor_price.group_by}} %>

        </div>
      </div>
    </div>


    <div class="card-container">
      <h2 class="card-header-big">Your best performing NFTs</h2>

<!-- Iteration for the best performing NFTs -->

      <div class="wrapper-cards-btn">
      <% @best_performing_nfts.each do |nft| %>
        <div class="card-xs-small">
           <%= image_tag nft.image, class:"card-xs-small-image" %>
          <div class="card-xs-small-content">
            <div class="card-xs-small-content-headers">
              <%= nft.name %>
            </div>
            <div class="card-xs-small-content-info">
              <div>
                <p class="card-text-thin">Purchased price: <%= nft.price %> SOL </p>
                <p class="card-text-thin">Floor price: <%= nft.collection.floor_price %> SOL</p>
              </div>

            </div>
          </div>
        </div>
        <% end %>
        <%= link_to "See more", profile_path, class: "btn-big-white-green-border"%>
      </div>
    </div>

    <div class="card-container2">
      <h2 class="card-header-big">Highest floor price</h2>
      <div class="wrapper-cards-btn">
        <div class="big-image">
          <img src=<%= @highest_floor_price_nfts[0].collection.image %> alt="" class="card-lg-image">
          <h2 class="h2-highest"> <%= @highest_floor_price_nfts[0].collection.floor_price %> SOL</h2>
          <p class="p-highest"> <%= @highest_floor_price_nfts[0].collection.name %> </p>
        </div>
        <div class="big-image">
          <img src=<%= @highest_floor_price_nfts[1].collection.image %> alt="" class="card-lg-image">
          <h2 class="h2-highest"> <%= @highest_floor_price_nfts[1].collection.floor_price %> SOL</h2>
          <p class="p-highest"> <%= @highest_floor_price_nfts[1].collection.name %> </p>
        </div>
        <%= link_to "See more", profile_path, class: "btn-green-link"%>
      </div>
    </div>

  </div>

  <div class="my-watchlist">
    <div class="watchlist-container">
      <h2 class="watchlist-header">My watchlist</h2>
      <button type="button" class="btn-green-big btn-watchlist" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Collections
      </button>
      <div class="watchlist-wrapper">
        <div class="watchlist-headers">
          <p>Collection</p>
          <p>Supply</p>
          <p>Floor price</p>
          <p>Volume</p>
          <p>Owners</p>
        </div>

        <div class="watchlist">
          <div class="watchlist-item">
            <div class="watchlist-image-collection">
              <img src="https://bafybeib7iyh7l5jdqbl22jzx35xnvjjl2b2rcumqgtpnfxub7h3be3xrwq.ipfs.nftstorage.link/9998.png?ext=png" alt="" class="watchlist-item-image">
              <p class="watchlist-p">Collection</p>
            </div>
            <p class="watchlist-p supply-p">Supply</p>
            <p class="watchlist-p floor-p">Floor price</p>
            <p class="watchlist-p volume-p">Volume</p>
            <p class="watchlist-p owners-p">Owners</p>
            <p class="watchlist-p remove-p">Remove</p>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- -->
  <div class="my-nfts">
    <h1 class="profile-header">My NFTs</h1>
    <div class="nft-container">
      <div class="wrapper-nfts">
        <% @nfts.each do |nft| %>
          <div class="card-nft">
            <div class="wrapper-nft-info">
            <!-- Should be an if statement here later -->
              <div class="nft-image-container">
                <img src=<%= nft.image %> alt="" class="nft-image">
              </div>
              <h2 class="nft-name"><%= nft.name %></h2>
              <h3 class="nft-collection"><%= nft.collection.name %></h3>
              <div class="nft-data">
                <p>Floor price: <%= nft.collection.floor_price %></p>
                <p>Supply: <%= nft.collection.supply %></p>
              </div>
              <!-- Modal trigger button -->
              <button type="button" class="btn btn-green-link" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
              See more
              </button>
            </div>
          </div>

          <!-- Modal starts -->

          <div class="modal" id="s<%= nft.id.to_s %>" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              <div class="modal-nft-wrapper">
              <div class="modal-nft-wrapper-image-dashboard">
                <img src=<%= nft.image %> alt="" class="modal-nft-image">
                <div class="wrapper-dashboard-data">
                <div class="modal-nft-dashboard">
                <!-- insert dashboard here -->
                 <%= line_chart (@data_keys) %>
                </div>
                <div class="modal-nft-data">
                <div>
                  <p class="nft-data">Purchased price: <%= nft.price %> SOL</p>
                  <p class="nft-data">Floor price: <%= nft.collection.floor_price %> SOL</p>
                </div>
                <div>
                <p class="nft-data">Volume: <%= nft.collection.volume%></p>
                <p class="nft-data">Supply: <%= nft.collection.supply%></p>
                <p class="nft-data">Owners: <%= nft.collection.owner%></p>

                </div>
                </div>
                <div>
                </div>
                </div>
              </div>
               <div class="modal-nft-container-info">
                <div class="modal-nft-wrapper-info">
                  <h2 class="nft-name"><%= nft.name %></h2>
                  <h3 class="nft-collection"><%= nft.collection.name %></h3>
                </div>
                <div  class="modal-nft-wrapper-info">
                  <p class="nft-collection modal-desription"><%= nft.collection.description %></p>
                   <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
               </div>

              </div>


              </div>
            </div>
          </div>
          <!-- Modal ends -->

         <% end %>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Collection Name</th>
            <th scope="col">Supply</th>
            <th scope="col">Listings</th>
            <th scope="col">Floor Price</th>
              <th scope="col">Total Volume</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each do |collection| %>
            <tr>
              <td><%=image_tag "#{collection.image}", class: "rounded", width: "35"%><%=collection.symbol%></td>
              <td><%=collection.supply %></td>
              <td><%=collection.listings %></td>
              <td><%=collection.floor_price %> SOL</td>
              <td><%=collection.volume %> SOL</td>
              <td>

               <button data-collection="<%= collection.id.to_s %>" type="button" class="btn btn-primary" data-action="click->watchlist#add">Add</button>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
</div>
