<div class="container">
  <div class="header-container">
    <h1 class="profile-header">My Wallet</h1>
    <%= link_to "Change wallet", edit_wallet_path(@wallet), class:"btn-green-big change-wallet" %>
  </div>
  <div class="my-wallet">
<!-- DASHBOARD-->
    <div class="dashboard-container">
      <div class="wrapper">
        <div class="container">
          <div><h3 class="text-center">My wallet's performance</h3></div>
            <div class="d-flex justify-content-center mt-2">
              <div class="container m-4">

                <div class="sol mb-4">
                  <div class="details">
                    <h3>SOL</h3>
                    <p><%= @wallet_value %></p>
                  </div>
                </div>

                <div class="sol mt-4">
                  <div class="details">
                    <div>
                      <h3>USD</h3>
                      <p><%=  @usd_wallet_value %></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- BEST PERFOMING NFTs-->
    <div class="card-container">
      <h2 class="card-header-big">Your best performing NFTs</h2>
      <div class="wrapper-cards-btn">
        <% @best_performing_nfts.first(4).each do |nft| %>
          <div class="card-xs-small" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <%= image_tag nft.image, class:"card-xs-small-image" %>
            <div class="card-xs-small-content">
              <div class="card-xs-small-content-headers">
                <%= nft.name %>
              </div>
               <div class="card-xs-small-content-info">
                <div>
                  <p class="card-text-thin">Purchased price: <%= nft.price %> SOL </p>
                  <p class="card-text-thin">Floor price: <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <button type="button" class="btn-big-white-green-border four-cards" data-bs-toggle="modal" data-bs-target="#best-performing">
          See more
        </button>
      </div>
    </div>

    <!-- MODAL: BEST PERFORMING NFTs: See more -->
    <div class="modal fade" id="best-performing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Your best performing NFTs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% count = 1 %>
            <% @best_performing_nfts.each do |nft| %>
              <div class="modal-body-search">
                <p class="number"><%= count %>.</p>
                <div class="modal-collection-card">
                  <%= image_tag nft.image, class:"modal-collection-card-image" %>
                    <div class="modal-collection-card-content">
                      <div class="modal-collection-card-content-header">
                        <%= nft.name %>, <%= nft.collection.name %>
                      </div>
                      <div class="modal-collection-card-content-info">
                        <div>
                          <p class="card-text-thin">Purchased price: <%= nft.price %> SOL </p>
                          <p class="card-text-thin">Floor price: <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                        </div>
                    </div>
                  </div>
              </div>
             </div>
             <% count += 1%>
            <% end %>
            <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <!-- HIGHEST FLOOR PRICE -->
    <div class="card-container2">
      <h2 class="card-header-big">Highest floor price</h2>
      <div class="wrapper-cards-btn">
        <% @highest_floor_price_nfts.each do |nft| %>
          <div class="big-image" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <img src="<%= nft.image %>" alt="" class="card-lg-image">

            <h2 class="h2-highest"> <%= nft.collection.floor_price_in_sol.round(2) %> SOL</h2>
            <p class="p-highest"> <%= nft.collection.name %> </p>
          </div>
        <% end %>
        <button type="button" class="btn btn-green-link highest-floor" data-bs-toggle="modal" data-bs-target="#highest-floor-price" >
          See more
        </button>
      </div>
    </div>
    <!-- MODAL: HIGHEST FLOOR PRICE: See more -->
    <div class="modal fade" id="highest-floor-price" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- WATCHLIST -->
  <div class="my-watchlist">
    <div class="watchlist-container">
      <h2 class="watchlist-header">My watchlist</h2>
      <%# <button type="button" class="btn-green-big btn-watchlist" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> %>
      <button type="button" class="btn-green-big btn-watchlist" data-bs-toggle="modal" data-bs-target="#staticBackdrop">

      </button>
      <div class="watchlist-wrapper">
        <div class="watchlist-headers">
          <p>Collection</p>
          <p>Supply</p>
          <p>Floor price</p>
          <p>Volume</p>
          <p>Owners</p>
        </div>

        <div class="watchlist">
          <% @watchlist_items.each do |item| %>
            <div class="watchlist-item">
              <div class="watchlist-image-collection">
                <img src="<%= item.collection.image %>" alt="Collection image" class="watchlist-item-image">
                <p class="watchlist-p"><%= item.collection.name %></p>
              </div>
              <p class="watchlist-p supply-p"><%= item.collection.supply %></p>
              <p class="watchlist-p floor-p"><%= item.collection.floor_price_in_sol.round(2) %> SOL</p>
              <p class="watchlist-p volume-p"><%= item.collection.volume_in_sol.round(2) %></p>
              <%# <p class="watchlist-p owners-p"><%= item.collection.owners %>

              <%= link_to "Remove", watchlist_item_path(item), method: :delete, data: { confirm: "Are you sure you want to delete this collection?" }, class: "watchlist-p owners-p"%>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<!-- MY NFTs-->
  <div class="my-nfts">
    <div class="nft-container">
      <div class="wrapper-nfts">
        <% @nfts.each do |nft| %>
          <div class="card-nft" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
            <div class="wrapper-nft-info">
            <!-- Should be an if statement here later -->
              <div class="nft-image-container">
                <img src=<%= nft.image %> alt="" class="nft-image">
              </div>
              <h2 class="nft-name" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>"><%= nft.name %></h2>
              <h3 class="nft-collection"><%= nft.collection.name %></h3>
              <div class="nft-data">
                <p>Floor price: <%= nft.collection.floor_price_in_sol.round(2) %></p>
                <p>Supply: <%= nft.collection.supply %></p>
              </div>
            </div>
             <!-- Modal trigger button -->
              <button type="button" class="btn btn-green-link nft-see-more" data-bs-toggle="modal" data-bs-target="#s<%= nft.id.to_s %>">
              See more
              </button>
          </div>

          <!-- MODAL: MY NFTs: More information about an NFT-->
          <div class="modal fade" id="s<%= nft.id.to_s %>" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-nft-wrapper">
                  <div class="modal-nft-wrapper-image-dashboard">
                    <img src=<%= nft.image %> alt="" class="modal-nft-image">
                    <div class="wrapper-dashboard-data">
                      <div class="modal-nft-dashboard">
                        <!-- insert dashboard here -->
                        <%= line_chart (@data_keys) %>
                      </div>
                      <div class="modal-nft-data">
                        <div>
                          <p class="nft-data">Purchased price: <%= nft.price %> SOL</p>
                          <p class="nft-data">Floor price: <%= nft.collection.floor_price_in_sol.round(2) %> SOL</p>
                      </div>
                        <div>
                          <p class="nft-data">Volume: <%= nft.collection.volume_in_sol.round(2)%></p>
                          <p class="nft-data">Supply: <%= nft.collection.supply%></p>
                          <p class="nft-data">Owners: <%= nft.collection.owner%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-nft-container-info">
                    <div class="modal-nft-wrapper-info">
                      <h2 class="nft-name"><%= nft.name %></h2>
                      <h3 class="nft-collection"><%= nft.collection.name %></h3>
                    </div>
                    <div  class="modal-nft-wrapper-info">
                      <p class="nft-collection modal-desription"><%= nft.collection.description %></p>
                      <button class="close-modal" data-bs-target="" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Modal ends -->

        <% end %>
      </div>
    </div>
  </div>

</div>


<!-- MODAL WATCHLIST -->
<%= render 'modal' %>
