
<div class="row">
  <div class="col-md-6">
    <div class="chart-container" style="position: relative; height:10vh; width:30vw">   <%# we can just use width and height to make the chart smaller %>
      <canvas id="myChart" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
    </div>
  </div>
</div>

<h1>"Here I am !"</h1>

<div class="profile-container"  data-controller="profiles">
   <div class="profile-menu">
    <p> <%= link_to "My profile", profile_path %> </p>
    <p data-action="click->profiles#index" data-profiles-class-param="my-requests"> My requests </p>
    <p data-action="click->profiles#index" data-profiles-class-param="my-offers"> My offers </p>
    <p> <%= link_to "Make a request", new_request_path %> </p>
    <p> <%= link_to "Update profile", edit_user_registration_path(current_user) %> </p>
  </div>

  <div class="profile-content">
  </div>
</div>
