<!DOCTYPE html>
<html>
  <head>
    <title>SGMI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8d4873eb6c.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes"%>
    <div style="min-height: 90vh">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
